*{
    font-family: 'Karla', sans-serif;
}

:root{
    --dark-blue: #26313C;
    --red: #FF393A;
}

*{
    color: #fff;
}

/* Background cars */
.bg-audirs7{
    background-image: url(/img/Audi\ rs7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bg-tuning{
    background-image: url(/img/Duo\ Lamborghini.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bg-bodyKits{
    background-image: url(/img/Audi\ body\ kit.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bg-aboutUs{
    background-image: url(/img/RR.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bg-contactUs{
    background-image: url(/img/Location.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bg-projects{
    background-image: url(/img/BMW.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Background all pages */
.bg-index{
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 4rem;
}
.bg-t{
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-bk{
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-au{
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-cu{
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-p{
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */
.navbar{
    height: 4rem;
}
.bg-light {
    background-color: rgba(38, 49, 60, 0.250) !important;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff !important;
}

.navbar-f{
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.07rem;
}

/* Can be used on all pages */
.center{
    text-align: center;
    align-content: center;
}

.h1-slogan{
    font-weight: 800;
}

.h4-slogan{
    font-weight: 500;
}

.h1-tune{
    padding-top: 11vw;
    font-size: 4rem;
    font-weight: 800;
}

footer{
    position: center bottom;
    left: 0;
    bottom: 0;
}

.box-footer{
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.900);
    overflow: hidden;
    width: 100%;
}

.footer-p{
    color: #BEBDBD;
}

.containerBox{
    position: relative;
    width: 45rem;
    height: 15.7rem;
    margin: auto;
    background: rgba(254, 254, 254, 0.600);
    border-radius: 1rem;
    padding: 1rem;
}

.containerBox .boxSelect{
    width: 45rem;
    height: 15.7rem;
    border: #000;
}

select{
    background: var(--dark-blue);
    padding: 0.3rem;
    width: 40rem;
    font-size: 1.1rem;
    border: none;
    appearance: button;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: var(--red) !important;
    border-color: var(--red) !important;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem #26313C;
}

.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
    border: none !important;
    outline: none !important;
}

.mt-tuning{
    margin-top: 8rem;
}

.borderInfo{
    position: relative;
    width: 45rem;
    height: 17rem;
    margin-top: 15rem;
    background: transparent;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.red{
    color: var(--red);
    margin-top: -1.3rem;
}

.aventadorSize{
    width: 38rem;
    height: auto;
    border-radius: 1rem;
}

.borderInfoBk{
    position: relative;
    width: 45rem;
    height: 52rem;
    margin-top: 33rem;
    background: transparent;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.h1-aboutUs{
    padding-top: 2rem;
    font-size: 4rem;
    font-weight: 800;
}

.mw{
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.btn-light {
    color: #fff;
    background-color: transparent;
    border-color: var(--red);
    border-radius: 5rem;
    padding: 1rem 2rem 1rem 2rem;
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.bg-footer{
    background: var(--dark-blue);
    height: 13rem;
    width: 100%;
}

.ml-footer{
    margin-left: 10rem;
}

.sm-icons{
    font-size: 2rem;
}

.inline{
    display:inline;
}

.h1-projects{
    padding-top: 2vh;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 2px 2px var(--dark-blue);
}

.borderProjects{
    position: relative;
    width: 25rem;
    height: 27rem;
    background: transparent;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid #000;
}

.projectsImg{
    width: 22vw;
    border-radius: 1rem;
}

.mProjects{
    margin-left: 6vw;
    margin-bottom: 6%;
}

.p-hidden{
    padding-bottom: 5%;
}

.hide{
    display: none;
}